<div class='main-outer-wrapper goodrecipes'>
  <div class='main-inner-wrapper'>
    <div class='stand-alone'>
      <div class='text-center margin-top-40'>
        <img src='/images/logo.png' style='width:50px;height:50px;'>
      </div>
      <div class='text-center'>
        <span class='font-36 margin-top-10'>
          <span class='roboto light silver'>GOOD</span>
          <span class='roboto bold food-dark-red' style='margin-left:-5px'>RECIPES</span>
        </span>
      </div>
      <form class='margin-top-10 margin-bottom-10' role='form' style='padding:20px'>
        <div ng-include='template'></div>
      </form>
    </div>
  </div>
</div>
