<div class='form-group' ng-show="error != ''">
  <div class='alert alert-danger' role='alert'>
    <span aria-hidden='true' class='glyphicon glyphicon-exclamation-sign'></span>
    {{error}}
  </div>
</div>
<div class='form-group'>
  <md-input-container>
    <label style='color:#555'>New password</label>
    <input ng-model='data.password' type='password'>
  </md-input-container>
</div>
<div class='form-group'>
  <md-input-container>
    <label style='color:#555'>Confirm password</label>
    <input ng-model='data.passwordConfirmed' type='password'>
  </md-input-container>
</div>
<div class='text-right margin-top-10'>
  <div class='fleft'>
    <md-button class='padding-left-15 padding-right-15' ng-click="locate('/')" style='color:#4285F4'>
      <i class='fa fa-arrow-left margin-right-5'></i>
      CANCEL
    </md-button>
  </div>
  <md-button ng-click='resetPassword()' style='background-color:#ED747E;color:white;padding-left:15px;padding-right:15px'>RESET PASSWORD</md-button>
</div>
