<span ng-controller='userCtrl'>
  <md-toolbar class='food-api-theme md-default-theme' layout='column'>
    <div class='md-toolbar-tools md-whiteframe-z1 no-padding' flex='100' layout='column' tabindex='0'>
      <div class='no-margin' flex='100' layout='column'>
        <div layout-align='space-between center' layout='row'>
          <div flex=''>
            <!-- %a.font-36{href:'',"ng-click"=>"toggleLeft()"} -->
            <span class='font-36 margin-left-20' style='line-height: 70px;'>
              <span class='roboto light'>GOOD</span>
              <span class='roboto bold food-dark-red' style='margin-left:-5px'>RECIPES</span>
            </span>
          </div>
          <div flex=''>
            <md-text-float class='food-api-theme' label='What do you want to eat ?' ng-model='ingredient.name'></md-text-float>
            <!-- %md-tabs.md-accent{"md-selected" => "data.selectedIndex"} -->
            <!-- %md-tab{id: "tab1", "ng-click" => "locate('moment')", "aria-controls" => "tab1-content"} -->
            <!-- %b Moments -->
            <!-- %md-tab{id: "tab2", "ng-click" => "locate('recipe')", "aria-controls" => "tab2-content"} -->
            <!-- %b Recipes -->
            <!-- %md-tab{id: "tab2", "ng-click" => "locate('ingredient')", "aria-controls" => "tab2-content"} -->
            <!-- %b Ingredients -->
          </div>
          <div class='text-right food-dark-red' flex=''>
            <span class='cursor glyphicon glyphicon-search margin-top-10 margin-left-15' style='float:left'></span>
            <div class='margin-top-5'>
              <span class='cursor glyphicon glyphicon-cog margin-right-20'></span>
            </div>
          </div>
        </div>
        <div class='sub-header' flex='100' layout-align='space-between center' layout='row'>
          <div>
            <a class='cursor glyphicon glyphicon-th-large' ng-click='toggleLeft()'></a>
          </div>
          <div layout-align='center center' layout='row'>
            <div>
              <a class='quick-access-search beef-color' href=''>Beef Recipes</a>
            </div>
            <div>
              <a class='quick-access-search chicken-color' href=''>Chicken Recipes</a>
            </div>
            <div>
              <a class='quick-access-search vegetarian-color' href=''>Vegetarian Recipes</a>
            </div>
            <div>
              <a class='quick-access-search dessert-color' href=''>Dessert Recipes</a>
            </div>
          </div>
          <div>
            <a class='cursor glyphicon glyphicon-flag' ng-click="locate('moment')"></a>
          </div>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav class='md-sidenav-left md-whiteframe-z2' md-component-id='left'>
    <md-toolbar class='food-api-theme md-theme-indigo' layout-align='center center' style='height: 78px'>
      <div style='width: 80px;'>
        <a href='#/users/{{id}}' style='position:absolute;margin-top:-10px;'>
          <button aria-label='refresh' class='md-fab md-accent md-button md-default-theme' style='width:90px;height:90px;padding:0;'>
            <img class='profile-avatar' src='{{avatar}}'>
          </button>
        </a>
      </div>
    </md-toolbar>
    <md-content class='footer' style=''>
      <div layout='column'>
        <div class='about text-center'>
          <a href=''>
            <span class='silver'>ABOUT US &</span>
            <span class='roboto light white'>GOOD</span>
            <span class='roboto bold food-dark-red' style='margin-left:-2px'>RECIPES</span>
          </a>
        </div>
      </div>
    </md-content>
    <md-content>
      <span class='silver-box fleft'>
        <span class='glyphicon glyphicon-user'></span>
        200
      </span>
      <span class='silver-box fright'>
        <span class='glyphicon glyphicon-eye-open'></span>
        100
      </span>
      <div class='margin-top-30' layout='column'>
        <div class='text-center margin-top-30 font-18 roboto bold'>
          {{user.pseudo}}
        </div>
        <div class='text-center'>
          {{user.email}}
        </div>
      </div>
      <div class='margin-top-30 top-border' layout='column' style='padding-top:15px'>
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-film margin-right-10 margin-left-10'></span>
          Post new moment
        </md-button>
        <!-- %a.menu-link{href: ''} -->
        <!-- %span.glyphicon.glyphicon-film -->
        <!-- Post new moment -->
        <!-- %a.menu-link{href: ''} -->
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-pencil margin-right-10 margin-left-10'></span>
          Edit profile informations
        </md-button>
        <!-- %a.menu-link{href: ''} -->
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-user margin-right-10 margin-left-10'></span>
          Search user
        </md-button>
      </div>
      <div class='margin-top-15 top-border' layout='column' style='padding-top:15px'>
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-list-alt margin-right-10 margin-left-10'></span>
          Add new recipe
        </md-button>
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-filter margin-right-10 margin-left-10'></span>
          See my recipes
        </md-button>
      </div>
      <div class='margin-top-15 top-border' layout='column' style='padding-top:15px'>
        <md-button ng-click="locate('ingredient')" style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-leaf margin-right-10 margin-left-10'></span>
          Manage ingredients
        </md-button>
      </div>
      <div class='margin-top-15 top-border' layout='column' style='padding-top:15px'>
        <md-button style='text-align:left;text-transform: lowercase;'>
          <span class='glyphicon glyphicon-off margin-right-10 margin-left-10'></span>
          Logout
        </md-button>
      </div>
    </md-content>
  </md-sidenav>
  <md-content class='no-bg md-default-theme' layout-align='center center' layout='column' md-scroll-y=''>
    <md-content class='no-bg' ng-include='template' style='width:100%;max-width:940px;padding:20px'></md-content>
  </md-content>
</span>
