<md-dialog aria-label='Edit Ingredient' flex-gt-lg='50' flex-md='70' flex-sm='90'>
  <!-- %md-content -->
  <!-- %md-subheader -->
  <!-- Edit Ingredient -->
  <!-- %p -->
  <!-- %div.md-actions{layout: "row"} -->
  <!-- %md-button{"ng-click"=>"answer('not useful')"} -->
  <!-- Not Useful -->
  <!-- %md-button.md-primary{"ng-click"=>"answer('useful')"} -->
  <!-- Useful -->
  <section class='demo-container md-whiteframe-z1'>
    <md-toolbar class='demo-toolbar md-default-theme' style='background-color: #eee;color:#666'>
      <div class='md-toolbar-tools active-cd' ng-class="{'ingredient-pink-cd': ingredient.color == 'pink', 'ingredient-silver-cd': ingredient.color == 'silver'}">
        <span flex='100' style='position:absolute;margin-top:20px'>
          Edit ingredient
        </span>
        <span flex='100'>
          <div layout-align='center' layout='row' style='margin-top:-60px;'>
            <button aria-label='refresh' class='md-fab md-button md-default-theme md-fab-top-right'>
              <img class='avatar-ingredient' src='{{ingredient.icon}}'>
            </button>
          </div>
        </span>
      </div>
    </md-toolbar>
    <div class='demo-content'>
      <md-content layout='column'>
        <div layout='row'>
          <div flex='50'>
            <md-text-float label='Name' ng-model='ingredient.name'></md-text-float>
          </div>
          <div flex='50'>
            <md-text-float label='Color' ng-model='ingredient.color'></md-text-float>
          </div>
        </div>
        <div flex='100' layout='row' style='border-top:1px solid #eee;padding-top:10px;padding-bottom:10px'>
          <div class='margin-left-10' style='padding-right:10px;border-right:1px solid #eee'>
            <div class='margin-left-5 margin-bottom-5' style='color:#555'>
              Advanced element
            </div>
            <input class='input-sm form-control ligth-design' ng-model='element' placeholder='Enter element...'>
            <div class='margin-top-5 text-center'>
              <md-button aria-label='refresh' class='margin-right-5' ng-click='addLabel(element) &amp;&amp; (element = "")' style='width: 36px'>
                <span class='glyphicon glyphicon-tag color-label'></span>
              </md-button>
              <md-button aria-label='refresh' class='margin-right-5' ng-click='addBlacklist(element) &amp;&amp; (element = "")' style='width: 36px'>
                <span class='glyphicon glyphicon-ban-circle color-ban'></span>
              </md-button>
            </div>
          </div>
          <div class='margin-left-15'>
            <span ng-repeat='ig in ingredient.labels'>
              <span class='label label-default color-label-bg font-12 cursor' ng-click='delLabel(ig)' style='padding-top:4px'>{{ig}}</span>
            </span>
            <span ng-repeat='ig in ingredient.savours'>
              <span class='label label-default color-savour-bg font-12 cursor' ng-click='delSavour(ig)' style='padding-top:4px'>{{ig}}</span>
            </span>
            <span ng-repeat='ig in ingredient.blacklist'>
              <span class='label label-default color-ban-bg font-12 cursor' ng-click='delBlacklist(ig)' style='padding-top:4px'>{{ig}}</span>
            </span>
          </div>
        </div>
        <button aria-label='refresh' class='md-fab md-button md-default-theme md-fab-bottom-right' ng-class="{'ingredient-pink-cd': ingredient.color == 'pink', 'ingredient-silver-cd': ingredient.color == 'silver'}" ng-click='update_ingredient()' style='width:48px;height:48px;'>
          <span class='glyphicon glyphicon-ok'></span>
          <!-- %img.avatar-ingredient{src: "{{ingredient.icon}}"} -->
        </button>
      </md-content>
    </div>
  </section>
</md-dialog>
