<div layout-align='space-between center' layout='row' style='max-width:1140px'>
  <div class='print-title margin-left-20 font-24 roboto light margin-top-15 margin-bottom-20'>
    EDIT PROFILE
  </div>
  <div>
    <md-button class='md-primary md-raised padding-left-20 padding-right-20' ng-click='showCreateIngredient($event)' style='background-color:#4CAF50'>
      <span class='font-16' style='line-height:16px;'>
        <i class='fa fa-check'></i>
        valider
      </span>
    </md-button>
  </div>
</div>
<div layout='column' style='max-width:1140px'>
  <div ng-show="data.error != ''">
    <div class='alert alert-danger' role='alert' style='margin-top: 20px'>
      <i class='fa fa-exclamation-triangle'></i>
      {{data.error}}
    </div>
  </div>
  <div>
    <md-content class='fileUpload md-whiteframe-z1 ingredient-windows-120 cursor text-center' style="background-image: url('{{show_picture()}}')">
      <input base-sixty-four-input='' class='upload' ng-model='upload.avatarPict' style='height: 400px;width:100%;' type='file'>
    </md-content>
  </div>
  <div class='margin-left-10 margin-right-10 margin-top-10' layout-wrap='' layout='row'>
    <md-input-container class='padding-right-20' flex='50'>
      <label class='font-18'>Email adress</label>
      <input ng-model='upload.user.email'>
    </md-input-container>
    <md-input-container class='padding-right-20' flex='50'>
      <label class='font-18'>Pseudo</label>
      <input ng-model='upload.user.pseudo'>
    </md-input-container>
    <md-input-container class='padding-right-20' flex='50'>
      <label class='font-18'>First name</label>
      <input ng-model='upload.user.firstname'>
    </md-input-container>
    <md-input-container class='padding-right-20' flex='50'>
      <label class='font-18'>Last name</label>
      <input ng-model='upload.user.lastname'>
    </md-input-container>
    <md-input-container class='padding-right-20' flex='50'>
      <label class='font-18'>Password</label>
      <input ng-model='user.password' ng-type='number'>
    </md-input-container>
  </div>
</div>
