<div class='panel-content' layout-fill='' layout='column'>
  <section class='demo-container md-whiteframe-z1'>
    <md-toolbar class='demo-toolbar md-default-theme' style='background-color: #eee;color:#666'>
      <div class='md-toolbar-tools'>
        <span flex='100' style='position:absolute;margin-top:20px'>
          Edit your profile
        </span>
        <!-- %span{flex: 100, style: 'position:absolute;right:0;margin-top:10px;margin-right:10px'} -->
        <!-- %md-progress-circular{"md-mode" => "indeterminate", "md-diameter" => "30"} -->
        <md-button class='md-primary md-fab md-fab-top-right' style='background:#4CAF50;margin-right:-10px;margin-top:-17px;width:40px;height:40px'>
          <span class='glyphicon glyphicon-ok'></span>
        </md-button>
        <span flex='100'>
          <div layout-align='center' layout='row' style='margin-top:-70px;'>
            <button aria-label='refresh' class='md-fab md-accent md-button md-default-theme' style='position:absolute;margin-top:60px'>
              <img class='avatar' src='{{user.avatar}}'>
            </button>
          </div>
        </span>
      </div>
    </md-toolbar>
    <div class='demo-content'>
      <div layout='column'>
        <md-content>
          <form style='padding: 20px;'>
            <div layout-align='center' layout='row'>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <md-text-float label='Email adress' ng-model='user.email'></md-text-float>
                </div>
              </div>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <md-text-float label='Pseudo' ng-model='user.pseudo'></md-text-float>
                </div>
              </div>
            </div>
            <div layout-align='space-around center' layout='row'>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <md-text-float label='First name' ng-model='user.firstname'></md-text-float>
                </div>
              </div>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <md-text-float label='Last name' ng-model='user.lastname'></md-text-float>
                </div>
              </div>
            </div>
            <div class='row' layout-align='space-around center' layout='row'>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <md-text-float label='Password' ng-model='user.password'></md-text-float>
                </div>
              </div>
              <div flex='50' layout-align='center' layout='row'>
                <div>
                  <span ng-repeat='access in user.access'>
                    <span class='label label-info'>{{access}}</span>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </md-content>
      </div>
    </div>
  </section>
</div>
