<div layout-align='space-between center' layout='row'>
  <div class='print-title margin-left-20 font-24 roboto light margin-top-15 margin-bottom-20'>
    MANAGE INGREDIENTS
  </div>
  <div>
    <md-button class='md-primary md-raised padding-left-20 padding-right-20' ng-click='showCreateIngredient($event)' style='background-color:#F85562'>
      <span class='font-16' style='line-height:16px;'>New ingredient</span>
    </md-button>
  </div>
</div>
<div layout-align='start start' layout='column'>
  <div flex='100' layout='column' tabindex='0'>
  </div>
  <md-content class='text-justify' style='padding:20px 10px'>
    <span ng-repeat='ig in data.ingredients'>
      <md-content class='md-whiteframe-z1 ingredient-windows-120 cursor' ng-click='showEditingIngredient($event, ig)' style='background-image: url("{{image_path(ig.icon)}}")'></md-content>
      <!-- {{ig.name}} -->
    </span>
  </md-content>
</div>
