<div class='margin-top-10' layout-align='space-between center' layout='row'>
  <div class='print-title margin-left-20 font-24 roboto light margin-bottom-20 margin-top-20'>
    MANAGE INGREDIENTS
  </div>
  <div>
    <div class='md-whiteframe-z1'>
      <form ng-submit='updatePage(1)'>
        <input class='padding-left-30' ng-model='ingredient.description' placeholder='Ingredient name...' style='width:300px;display:inline-block;height:30px;border:0;'>
        <md-button ng-click='updatePage(1)'>
          <i class='fa fa-search margin-right-5 margin-left-5'></i>
          <span class='margin-right-5'>SEARCH</span>
        </md-button>
        <md-button ng-click='showCreateIngredient($event)' style='background-color:#F85562;color:white'>
          <i class='fa fa-plus margin-right-5'></i>
          NEW
        </md-button>
      </form>
    </div>
  </div>
</div>
<div layout-align='start start' layout='column'>
  <md-content class='text-justify' style='padding:20px 10px'>
    <span ng-repeat='ig in data.ingredients'>
      <md-content class='md-whiteframe-z1 ingredient-windows-120 cursor' ng-click='showEditingIngredient($event, ig)' style='background-image: url("{{image_path(ig.icon)}}")'></md-content>
      <!-- {{ig.name}} -->
    </span>
  </md-content>
</div>
<div class='pagination margin-left-30'>
  {{data.results}} RESULTS
  <div class='margin-top-20'>
    <a class='cursor margin-right-5 margin-left-5' ng-click='updatePage(data.page - 1)' ng-show='data.page &gt; 1' style='display:inline-block;padding:3px 7px'>
      <i class='fa fa-arrow-left'></i>
    </a>
    <a class='cursor font-16 margin-right-10' ng-class="{'selected': page == data.page}" ng-click='updatePage(page)' ng-repeat='page in data.pagination track by $index' style='display:inline-block;padding:3px 7px'>
      {{page}}
    </a>
    <a class='cursor' ng-click='updatePage(data.page + 1)' ng-show='data.pagination.length &gt; 0 &amp;&amp; data.pagination[data.pagination.length - 1] != data.page' style='display:inline-block;padding:3px 7px;'>
      <i class='fa fa-arrow-right'></i>
    </a>
  </div>
</div>
