<div class='form-group' ng-show="error != ''">
  <div class='alert alert-danger' role='alert'>
    <span aria-hidden='true' class='glyphicon glyphicon-exclamation-sign'></span>
    {{error}}
  </div>
</div>
<div class='form-group'>
  <md-input-container>
    <label style='color:#555'>Email</label>
    <input ng-model='email'>
  </md-input-container>
</div>
<div class='form-group'>
  <md-input-container>
    <label style='color:#555'>Password</label>
    <input ng-model='password' type='password'>
  </md-input-container>
</div>
<div class='margin-top-10' layout-align='space-between start' layout='row'>
  <div class='text-left'>
    <span style='color:#999'>
      You want to create an account ?
      <a class='cursor margin-left-5' ng-click="locate('signup')">Sign up</a>
      <br>
      You forgot your password ?
      <a class='cursor margin-left-5' ng-click='sendResetEmail()'>help me to rember</a>
    </span>
  </div>
  <div>
    <md-button ng-click='send()' style='background-color:#ED747E;color:white'>LOG IN</md-button>
  </div>
</div>
