<div class='print-title margin-left-20 font-24 roboto light margin-top-15 margin-bottom-20'>
  MY RECIPES
</div>
<div class='margin-bottom-20' layout-margin='' layout-padding='' layout-wrap='' layout='row' style='text-align:justify'>
  <div flex-gt-lg='25' flex-lg='50' flex-md='50' flex-sm='100' ng-repeat='morerecipe in more_recipe track by $index' style='margin-left:auto;margin-right:auto;'>
    <md-content class='md-whiteframe-z1 cursor' layout='column' ng-click='redir_recipe(morerecipe.id)'>
      <div class='flat-image-100p text-center' style='background-image: url("{{morerecipe.image}}")'></div>
      <div class='padding-top-5 padding-bottom-5 padding-right-10 padding-left-10 font-18 text-center'>
        <table style='width:95%;height:65px;padding-left:2.5%'>
          <th>
            <td>
              <i class='fa fa-quote-left' style='color:#ccc'></i>
              <span class='margin-left-5 margin-right-5'>{{morerecipe.title}}</span>
              <i class='fa fa-quote-right' style='color:#ccc'></i>
            </td>
          </th>
        </table>
      </div>
      <div class='padding-bottom-10 text-center' style='color:#777'>
        <i class='fa fa-group margin-left-15 margin-right-5'></i>
        <span class='font-16'>{{morerecipe.people}}</span>
        <i class='fa fa-history margin-left-15 margin-right-5'></i>
        <span class='font-16'>
          {{morerecipe.hours.toString() + "h" + morerecipe.minutes.toString()}}
        </span>
        <i class='fa fa-comments-o margin-left-15 margin-right-5'></i>
        <span class='font-16'>{{morerecipe.comments_length}}</span>
        <i class='fa fa-thumbs-o-up margin-left-15 margin-right-5'></i>
        <span class='font-16'>{{morerecipe.mark}}/5</span>
      </div>
    </md-content>
  </div>
</div>
