<md-content class='margin-top-10' flex='100' layout-align='start start' layout='column' ng-class="{'md-whiteframe-z1' : show_search_advanced,&#x000A;'margin-bottom-20' : show_search_advanced}">
  <md-toolbar>
    <div class='md-toolbar-tools no-padding food-api-silver' flex='100' layout='column' style='background-color:#E3E4E6' tabindex='0'>
      <div class='margin-left-30 roboto medium cursor font-24' ng-click='show_search_advanced = !show_search_advanced' ng-show='show_search_advanced' style='color:#BB2743'>
        Advanced recipe search
      </div>
      <div ng-show='!show_search_advanced'>
        <md-button ng-click='show_search_advanced = !show_search_advanced' style='color:#333'>Advanced recipe search</md-button>
      </div>
    </div>
  </md-toolbar>
  <md-content layout='column' ng-show='show_search_advanced' style='width:100%;padding:30px 20px 10px 20px;'>
    <div>
      <div layout='row'>
        <div flex='100'>
          <div>
            <md-text-float class='margin-left-20 fleft' label='Search ingredients' ng-model='recipe.ingredients_describe[$index].title' style='display:inline-block;margin-top:0;'></md-text-float>
            <span class='glyphicon glyphicon-search btn-search'></span>
          </div>
          <div class='margin-left-5'>
            <span ng-repeat='ig in ingredients'>
              <md-content class='md-whiteframe-z1 ingredient-windows-64 cursor text-center' style='background-image: url("{{ig.icon}}")'>
                <span class='glyphicon glyphicon-picture font-24' ng-show='ig.icon != ""' style='color:#999;line-height:63px;'></span>
                <span class='glyphicon glyphicon-picture font-16' ng-show='"" != ig.icon' style='color:#999;line-height:32px;'></span>
              </md-content>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='step'>
      <div class='step-header'>
        <div class='font-18 roboto bold step-title margin-top-15 margin-bottom-10'>LABELS</div>
        <div layout-wrap='' layout='row'>
          <div flex='20' ng-repeat='label in labels'>
            <md-checkbox aria-label='label.name' ng-model='label.c'>
              {{label.name}}
            </md-checkbox>
          </div>
        </div>
        <div class='font-18 roboto bold step-title margin-top-30 margin-bottom-10'>BANN LIST</div>
        <div layout-wrap='' layout='row'>
          <div flex='20' ng-repeat='label in denied'>
            <md-checkbox aria-label='label.name' class='md-warn' ng-model='label.c'>
              {{label.name}}
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class='text-right padding-top-10 padding-bottom-5 top-border'>
      <div layout-align='space-between center' layout='row'>
        <div>
          <md-button class='md-primary' ng-click='show_search_advanced = !show_search_advanced' style='padding: 5px 15px;color:#BB2743'>CLOSE</md-button>
        </div>
        <div>
          <md-button class='md-primary margin-left-10' ng-click='validate()' style='padding: 5px 15px'>SEARCH</md-button>
        </div>
      </div>
    </div>
  </md-content>
</md-content>
<div class='margin-bottom-20' layout-align='space-between center' layout-margin='' layout-padding='' layout-wrap='' layout='row'>
  <div flex='21' ng-repeat='morerecipe in more_recipe'>
    <md-content class='md-whiteframe-z1' flex='100' layout='column'>
      <div class='flat-image-100p cursor text-center' style='background-image: url("{{morerecipe.image}}")'></div>
      <div class='margin-left-10 margin-right-10 margin-top-10' style='height:60px'>
        <div class='font-14 roboto medium'>{{morerecipe.title}}</div>
        <div class='time font-12'>
          <span ng-show='morerecipe.total.h != 0'>
            {{morerecipe.total.h}} hour
          </span>
          <span ng-show='morerecipe.total.m != 0'>
            {{morerecipe.total.m}} min
          </span>
        </div>
      </div>
      <div class='margin-left-10 margin-right-10 margin-bottom-5'>
        <span class='mark xsmall margin-right-5 margin-top-20' ng-class="{'valid': mark[$index] &lt;= morerecipe.mark}" ng-repeat='i in [0, 1, 2, 3, 4] track by $index'></span>
        <span class='glyphicon glyphicon-comment margin-left-20' style='color:#999'></span>
        <span class='font-11 margin-left-5' style='line-height:24px'>{{morerecipe.comment_length}}</span>
      </div>
    </md-content>
  </div>
</div>
