<div class='form-group' ng-show="error != ''">
  <div class='alert alert-danger' role='alert'>
    <span aria-hidden='true' class='glyphicon glyphicon-exclamation-sign'></span>
    {{error}}
  </div>
</div>
<div class='form-group margin-left-20'>
  <md-input-container>
    <label>"Pseudo"</label>
    <input ng-model='pseudo'>
  </md-input-container>
</div>
<div class='form-group margin-left-20'>
  <md-input-container>
    <label>Adresse email</label>
    <input ng-model='email'>
  </md-input-container>
</div>
<div class='form-group margin-left-20'>
  <md-input-container>
    <label>Password</label>
    <input ng-model='password' type='password'>
  </md-input-container>
</div>
<div class='text-right margin-top-30'>
  <md-button class='revert fleft' href='\#login'>Connection</md-button>
  <md-button ng-click='send()'>Inscription</md-button>
</div>
