<div class='form-group' ng-show="error != ''">
  <div class='alert alert-danger' role='alert'>
    <span aria-hidden='true' class='glyphicon glyphicon-exclamation-sign'></span>
    {{error}}
  </div>
</div>
<div class='form-group margin-left-20'>
  <md-text-float class='md-primary' label='Pseudo' ng-model='pseudo'></md-text-float>
</div>
<div class='form-group margin-left-20'>
  <md-text-float label='Adresse email' ng-model='email'></md-text-float>
</div>
<div class='form-group margin-left-20'>
  <md-text-float label='Password' ng-model='password' type='password'></md-text-float>
</div>
<div class='text-right margin-top-30'>
  <md-button class='revert fleft' href='\#login'>Connection</md-button>
  <md-button ng-click='send()'>Inscription</md-button>
</div>
