<div class='form-group' ng-show="error != ''">
  <div class='alert alert-danger' role='alert'>
    <span aria-hidden='true' class='glyphicon glyphicon-exclamation-sign'></span>
    {{error}}
  </div>
</div>
<div class='form-group'>
  <md-text-float class='md-primary' label='Email' ng-model='email'></md-text-float>
</div>
<div class='form-group'>
  <md-text-float class='md-primary' label='Password' ng-model='password' type='password'></md-text-float>
</div>
<div class='text-right margin-top-10'>
  <md-button class='revert fleft' href='\#signin'>Sign in</md-button>
  <md-button ng-click='send()'>connection</md-button>
</div>
