$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

body {
  height: 100%;
  width: 100%;
  // background: url('fruitbg.jpg') 10%;
  background-color: #f4f4f4;
}

.white {color: #fff}
.green {
  background-color: red;
}

.light-silver {
  color: #bbb;
}

.margin-left-0 {margin-left:0px}
.margin-left-5 {margin-left:5px}
.margin-left-10 {margin-left:10px}
.margin-left-15 {margin-left:15px}
.margin-left-20 {margin-left:20px}

.margin-right-0 {margin-right:0px}
.margin-right-5 {margin-right:5px}
.margin-right-10 {margin-right:10px}
.margin-right-15 {margin-right:15px}
.margin-right-20 {margin-right:20px}

.margin-top-0 {margin-top:0px}
.margin-top-5 {margin-top:5px}
.margin-top-10 {margin-top:10px}
.margin-top-15 {margin-top:15px}
.margin-top-20 {margin-top:20px}

.margin-bottom-0 {margin-bottom:0px}
.margin-bottom-5 {margin-bottom:5px}
.margin-bottom-10 {margin-bottom:10px}
.margin-bottom-15 {margin-bottom:15px}
.margin-bottom-20 {margin-bottom:20px}


.searchbar .demo-container{
  margin-bottom: 10px;
  margin-top:30px;

  .ligth-design {
    border-top:0;
    border-left:0;
    border-right:0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
}

.font-11 {font-size: 11px}
.font-12 {font-size: 12px}
.font-14 {font-size: 14px}
.font-16 {font-size: 16px}
.font-18 {font-size: 18px}

// .md-fab-top-right.md-fab.is-friend {
//   background-color: #F7D358;
//   &:hover {
//     background-color: red;
//   }
// }

.md-fab-top-right.md-fab.not-friend {
  background-color: #bbb;
  .glyphicon.glyphicon-star {
    color: #999;
  }
}

#maincontainer {
  // background-color: #f4f4f4;
}

.revert {
  background-color: transparent;
  color: #777;
}

.fleft {float: left}
.fright {float: right}
.margin-top-10 {margin-top: 10px;}
.size-12 {font-size: 12px;}

#sign-in-up {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('foodbg.jpg');
}

#signin-panel {
  margin-top: 80px;
}

#header {
  // background-color: #E6BE87;
  color: white;
  height: 40px;
  line-height:40px;
  text-align: center;
  background-color: $brand-primary;

  a {
    color: white;
  }
}

#menucontainer {
  // background-color: $brand-warning;
}

#menu {
  // background-color: #E0F2F7;
  margin-top: 40px;
}

#content {
  margin-top: 30px;
  // background-color: #F8E0E6;
}


.container {
  margin:auto;
}

.header-title {
  width: 100px;
  text-align: center;
}

#search {
  height: 28px;
  width: 75%;
  max-width: 400px;
}

.avatar {
  // @extend .img-circle;
  width: 58px;
  margin-top:-7px;
  margin-left:-3px;
  float: left;
}

.user-name {
  margin-left: 70px;
  margin-top: 7px;
}

.user-avatar {
  max-width: 40px;
  max-height: 40px;
  float:left;
}

.deconnexion {
  margin-left: 70px;
  font-size: 12px;
}

#menu-action {
  margin-top: 20px;
  margin-left: 70px;
}

#menu-action li {
  margin-top: 5px;
}

#menu-action li a {
  margin-left: 20px;
  font-size: 12px;
}

.content-new {
  margin-left: 55px;
}

.content-new .title {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 700;
}

.content-new .describe {
  margin-top: 10px;
}

.alert.alert-danger {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}

.panel-content {
  max-width: 864px;
}