$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

@font-face {
  font-family: 'Roboto-Regular';
  src:url('Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src:url('Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:url('Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src:url('Roboto-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src:url('Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src:url('Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src:url('Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

a, a:hover {
  text-decoration: none;
}

i.view-menu {
  color: #ddd;
  &:hover {
    color: #ED747E;
  }
}
.md-whiteframe-z1.morerecipe:hover table {
  visibility: visible;
}
table.morerecipe-card {
  visibility: hidden;
}

div.searchBar {
  height:60px;
  position:absolute;
  left:0;
  right:200px;
  padding-left:20px;
  padding-right:20px;
}

@media only screen and (max-width:960px){div.searchBar{left:75px;}}
@media only screen and (max-width:600px){div.searchBar{right:0;}}

i.view-menu.selected {
  color: #555;
}

.roboto{
  &.regular {font-family: "Roboto-Regular"}
  &.medium    {font-family: "Roboto-Medium"}
  &.bold    {font-family: "Roboto-Bold"}
  &.black   {font-family: "Roboto-Black"}
  &.thin    {font-family: "Roboto-Thin"}
  &.light   {font-family: "Roboto-Light"}
}

.top-border {
  border-top:1px solid #eee;
}

.block {
  display: block;
}

.menu-link {
  color: #656565;
  padding: 5px 20px;
  display: block;
  &:hover {color: #333}

  .glyphicon {
    margin-right: 5px;
  }
}
.pagination a {
  color: #aaa;
  &.selected {
    border:2px solid #eee;
  }
  &:hover {
    color:#F85562;
  }
}
.mark {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;

  &.valid {background-color: #EBEE0B;}
  &.xsmall {width:12px;height:12px;}
  &.small {width:16px;height:16px;}
  &.medium {width:20px;height:20px;}
  &.big {width:32px;height:32px;}

}

md-content.footer {
  position:absolute;
  bottom:0;left:0;right:0;
  height:38px;
  // 32 px le bouton
  .about {
    color: #888;
    line-height: 38px;
    font-size: 14px;
    background-color:#211718;
  }
}
md-toast.goodrecipe.error {
  border:1px solid #BE1E2D;
  background-color:#fff;
  color: #BE1E2D;
}

md-toast.goodrecipe.success {
  border:1px solid #4CAF50;
  background-color:#fff;
  color: #4CAF50;
}

.md-contact-chips .md-chips .md-chip .md-contact-avatar img {
  width:4rem !important;
  height:4rem !important;
  border-radius: 2rem !important;
  margin-left:-3px !important;
}
.md-contact-suggestion img {
  width:4rem !important;
  margin-top:0.8rem;
  vertical-align: top;
}
.chipsdemoContactChips.lock input {

}
.chipsdemoContactChips.lock .md-chips .md-chip {
  padding: 0 1.8rem 0 0 !important;
}
.chipsdemoContactChips.lock .md-chip-remove-container {
    display: inline-block;
    margin-right: -0.5rem;
    display: none !important;
}
.md-chips .md-chip-input-container input[type="text"] {
  height:4rem !important;
  line-height:4rem !important;
}
md-chips.md-default-theme .md-chip {
  margin-right:20px !important;
}
md-chips.md-default-theme .md-chips.md-focused, md-chips.md-default-theme .md-chips  {
  box-shadow: none !important;
}
.md-chips .md-chip {
  height:4rem;
  line-height:4rem;
}
.md-chips .md-chip .md-chip-remove md-icon {
  margin-top: -4px;
}
.print-title {
  color: #999;
}

.silver-777 {
  color: #777;
}
.md-button.favorite-false {
  color: #aaa;
}
.md-button.favorite-true {
  color: #FFCC00;
}
.md-button.focused {
  background-color:#ED747E !important;
  color:white;
  .ng-scope {
    color:white
  }
}
textarea.msd-elastic {
  border:0;
  padding-bottom: 10px;
  width: 100%;
  color: #555;
}

a.admin-menu {
  color:#555;
  padding: 20px 10px;
  margin-left:10px;
  margin-right:10px;

  &:hover {
    color:#ED747E;
    padding-bottom:16px;
    border-bottom:3px solid #ED747E;
  }
  &.focused {
    color:#BE1E2D;
    padding-bottom:16px;
    border-bottom:3px solid #BE1E2D;
  }
}

.step {
  @extend .top-border;
  padding: 15px 20px;
}

.step-title {
  color: #444;
}

.step-button {
  @extend .font-12, .margin-left-20;
  margin-top:3px;
}

.main-outer-wrapper {
  padding-top: 0px;
  padding-bottom: 120px;
  width: 100%;
  height: 100%;
  display: table;
}

.main-outer-wrapper.goodrecipes {
  border-top: 10px solid #BE1E2D;
}

.stand-alone {
  max-width: 640px;
  min-width: 280px;
  margin: 0px auto;
}

.main-inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

body {
  height: 100%;
  width: 100%;
  position:relative;
  font-family: "Roboto-Regular";
  // background: url('fruitbg.jpg') 10%;
  background-color: #E3E4E6;
}

.white {color: #fff}
.green {
  background-color: red;
}

.light-silver {
  color: #bbb;
}
.silver {
  color: #999;
}

.food-api-theme.md-default-theme {
  background-color: #BB2743;
}

.food-api-theme .md-toolbar-tools {
  height: none;
  max-height: none;
}

.food-api-theme .sub-header {
  background-color: #FEFFFF;
  color: #020202;
  padding: 5px 20px;
}

a.quick-access-search {
  padding-left: 20px;
  padding-right: 20px;

  &.beef-color        {color: #E2465A}
  &.chicken-color     {color: #DE9969}
  &.vegetarian-color  {color: #6AC562}
  &.dessert-color     {color: #66A4A8}
}

.no-bg.md-default-theme {
  background-color: transparent;
}

.food-dark-red {
  color: #BB2743;
}
.uppercase {
  text-transform: uppercase;
}
.food-error {
  color: #BB2743;
  font-family: 'Roboto-Bold'
}


.step .md-button.md-default-theme.md-primary.food-dark-red {
  color: #BB2743;
}

%md-text-float {
  color: red;
}

md-input-group.food-api-theme {
  background-color: red;
  height: 70px;
  width: 100%;
  margin-top: 0;
}

.food-api-theme md-input-group.md-default-theme.md-input-has-value:not(.md-input-focused) label {
  color: #211718;
}

.food-api-theme md-input-group.md-default-theme label {
  color: #BB2743;
}
.food-api-theme md-input-group.md-default-theme input {
  border-bottom: solid 1px #BB2743;
  color: #eee;
  width: 100%;
}

.food-api-white md-input-group.md-default-theme.md-input-has-value:not(.md-input-focused) label {
  color: #fff;
}

.food-api-white md-input-group.md-default-theme label {
  color: #fff;
  font-family: "Roboto-Regular";
  font-weight: normal;
}
.food-api-white md-input-group.md-default-theme input {
  border-bottom: solid 1px #D8CED4;
  padding-right: 35px;
  color: #eee;
  width: 100%;
  margin-bottom: 10px;
}

.food-api-silver md-input-group.md-default-theme.md-input-has-value:not(.md-input-focused) label {
  color: #BB2743;
}

.food-api-silver md-input-group.md-default-theme label {
  color: #BB2743;
}
.food-api-silver md-input-group.md-default-theme input {
  border-bottom: solid 1px #BB2743;
  color: #515254;
  width: 100%;
  margin-bottom: 15px;
}



md-input-group label, .md-input-group label {
    transform: translate3d(0px, 25px, 0px);
    margin-bottom: 0px;
    transform-origin: left center 0px;
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}

.silver-box {
  background-color: #EDEBEC;
  padding: 5px 10px;
  margin: 5px;
  font-size: 11px;
  border-radius: 3px;
  color: #707070;
}

.color-label      {color: #03a9f4}
.color-label-bg   {background-color: #03a9f4}
.color-savour     {color: #FFBF00}
.color-savour-bg  {background-color: #FFBF00}
.color-ban        {color: #F44336}
.color-ban-bg     {background-color: #F44336}

.margin-left-0 {margin-left:0px}
.margin-left-5 {margin-left:5px}
.margin-left-10 {margin-left:10px}
.margin-left-15 {margin-left:15px}
.margin-left-20 {margin-left:20px}
.margin-left-30 {margin-left:30px}
.margin-left-40 {margin-left:40px}

.margin-right-0 {margin-right:0px}
.margin-right-5 {margin-right:5px}
.margin-right-10 {margin-right:10px}
.margin-right-15 {margin-right:15px}
.margin-right-20 {margin-right:20px}
.margin-right-30 {margin-right:30px}

.margin-top-0 {margin-top:0px}
.margin-top-5 {margin-top:5px}
.margin-top-10 {margin-top:10px}
.margin-top-15 {margin-top:15px}
.margin-top-20 {margin-top:20px}
.margin-top-30 {margin-top:30px}
.margin-top-40 {margin-top:40px}

.margin-bottom-0 {margin-bottom:0px}
.margin-bottom-5 {margin-bottom:5px}
.margin-bottom-10 {margin-bottom:10px}
.margin-bottom-15 {margin-bottom:15px}
.margin-bottom-20 {margin-bottom:20px}
.margin-bottom-30 {margin-bottom:30px}

.margin-5 {margin:5px}
.margin-10 {margin:10px}
.margin-15 {margin:15px}
.margin-20 {margin:20px}
.margin-25 {margin:25px}

.no-padding {padding: 0;}
.no-margin {margin: 0;}

// Padding


.padding-top-0 {padding-top:0px}
.padding-top-5 {padding-top:5px}
.padding-top-10 {padding-top:10px}
.padding-top-15 {padding-top:15px}
.padding-top-20 {padding-top:20px}
.padding-top-30 {padding-top:30px}


.padding-bottom-0 {padding-bottom:0px}
.padding-bottom-5 {padding-bottom:5px}
.padding-bottom-10 {padding-bottom:10px}
.padding-bottom-15 {padding-bottom:15px}
.padding-bottom-20 {padding-bottom:20px}
.padding-bottom-30 {padding-bottom:30px}

.padding-left-0 {padding-left:0px}
.padding-left-5 {padding-left:5px}
.padding-left-10 {padding-left:10px}
.padding-left-15 {padding-left:15px}
.padding-left-20 {padding-left:20px}
.padding-left-30 {padding-left:30px}
.padding-left-40 {padding-left:40px}

.padding-right-0 {padding-right:0px}
.padding-right-5 {padding-right:5px}
.padding-right-10 {padding-right:10px}
.padding-right-15 {padding-right:15px}
.padding-right-20 {padding-right:20px}
.padding-right-30 {padding-right:30px}

.searchbar .demo-container{
  margin-bottom: 10px;
  margin-top:5px;

  .ligth-design {
    border-top:0;
    border-left:0;
    border-right:0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
}

  .ligth-design {
    border-top:0;
    border-left:0;
    border-right:0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
    background-color: transparent;
  }

.font-11 {font-size: 11px}
.font-12 {font-size: 12px}
.font-14 {font-size: 14px}
.font-16 {font-size: 16px}
.font-18 {font-size: 18px}
.font-24 {font-size: 24px}
.font-36 {font-size: 36px}
.font-72 {font-size: 72px}

.cursor {cursor: pointer}

.ingredient-card {
  width: 150px;
}

.md-ingredient {
  font-family: Verdana,Geneva,sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.6;
  width: 100%;
  border-radius: 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

.ingredient-windows-90p {
  border-radius:3px;
  padding:0;
  margin:10px;
  display:inline-block;
  width:96%;
  height:375px;
  background: url('/') no-repeat center center;
  background-size: cover;
}

.flat-image-100p {
  display:inline-block;
  width:100%;
  height:250px;
  background: url('/') no-repeat center center;
  background-size: cover;
}

.flat-image-100p {
  display:inline-block;
  width:100%;
  height:150px;
  background: url('/') no-repeat center center;
  background-size: cover;
}
md-content.md-default-theme {
  &.ingredient-windows-90p, &.ingredient-windows-120, .ingredient-windows-64, .ingredient-windows-36 {background-color:#eee;}
}

.ingredient-windows-120 {
  border-radius:3px;
  padding:0;
  margin:10px;
  display:inline-block;
  width:120px;
  height:120px;
  background-color:#333;
  background: url('/') no-repeat center center;
  background-size: cover;
}


.ingredient-windows-64 {
  border-radius:3px;
  padding:0;
  margin:10px;
  display:inline-block;
  width:64px;
  height:64px;
  background-color:#333;
  background: url('/') no-repeat center center;
  background-size: cover;
}

.ingredient-windows-36 {
  border-radius:3px;
  padding:0;
  margin:10px;
  display:inline-block;
  width:36px;
  height:36px;
  background-color:#333;
  background: url('/') no-repeat center center;
  background-size: cover;
}

textarea.msd-elastic.blue-bottom-border {
  border-bottom: 1px solid #29B6F6;
}

.w100 input {width: 100%;}

.ingredient-img {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.ingredient-pink-cd{
  @extend .cursor;

  &:hover {
    color: white;
    background-color: #CC5189;
  }

  &.active-cd {
    color: white;
    background-color: #CC5189;
  }

  color: #CC5189;
  background-color: #FBEEF6;
}

.ingredient-silver-cd{
  @extend .cursor;
  color: #8E8D8E;
  background-color: #F7F7F7;

  &:hover {
      color: white;
      background-color: #8E8D8E;
  }

  &.active-cd {
      color: white;
      background-color: #8E8D8E;
  }
}

.md-fab-top-right.md-fab.not-friend {
  background-color: #bbb;
  .glyphicon.glyphicon-star {
    color: #999;
  }
}

#maincontainer {
  // background-color: #f4f4f4;
}

.revert {
  background-color: transparent;
  color: #777;
}

.fleft {float: left}
.fright {float: right}
.margin-top-10 {margin-top: 10px;}
.size-12 {font-size: 12px;}

#sign-in-up {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('foodbg.jpg');
}

#signin-panel {
  margin-top: 80px;
}

#header {
  // background-color: #E6BE87;
  color: white;
  height: 40px;
  line-height:40px;
  text-align: center;
  background-color: $brand-primary;

  a {
    color: white;
  }
}

#menucontainer {
  // background-color: $brand-warning;
}

#menu {
  // background-color: #E0F2F7;
  margin-top: 40px;
}

#content {
  margin-top: 30px;
  // background-color: #F8E0E6;
}


.container {
  margin:auto;
}

.header-title {
  width: 100px;
  text-align: center;
}

#search {
  height: 28px;
  width: 75%;
  max-width: 400px;
}
.avatar-ingredient {
  margin-top:-7px;
  margin-left:-7px;
  width: 60px;
  height: 60px;
}
.avatar-center-54 {
  width:54px;height:54px;padding:0;
  background: url('/') no-repeat center center;
  background-size: cover;
}

.profile-avatar {
  width: 90px;
  background: url('/') no-repeat center center;
  background-size: cover;
}
.avatar {
  // @extend .img-circle;
  width: 58px;
  margin-top:-7px;
  margin-left:-3px;
  float: left;
}

.user-name {
  margin-left: 70px;
  margin-top: 7px;
}

.user-avatar {
  max-width: 40px;
  max-height: 40px;
  float:left;
}

.deconnexion {
  margin-left: 70px;
  font-size: 12px;
}

#menu-action {
  margin-top: 20px;
  margin-left: 70px;
}

#menu-action li {
  margin-top: 5px;
}

#menu-action li a {
  margin-left: 20px;
  font-size: 12px;
}

.content-new {
  margin-left: 55px;
}

.content-new .title {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 700;
}

.content-new .describe {
  margin-top: 10px;
}

.alert.alert-danger {
  background-color: #f2dede;
  border-color: #f2dede;
  color: #a94442;
}

.panel-content {
  max-width: 864px;
}

/// text-transform:


.md-button.md-default-theme.md-warn {
      color: rgb(244,67,54);
}

.md-button.md-default-theme.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab {
        color: rgb(255,255,255);
        background-color: rgb(244,67,54);
}

.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):focus, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):focus {
          background-color: rgb(211,47,47);
}

md-checkbox.md-default-theme:not([disabled]).md-warn .md-ripple {
    color: rgb(229,57,53);
}

md-checkbox.md-default-theme:not([disabled]).md-warn .md-icon {
    border-color: rgba(0,0,0,0.54);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked .md-icon {
    background-color: rgba(244,67,54,0.87);
}

md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked .md-icon:after {
    border-color: rgb(238,238,238);
}


.btn-search {
  @extend .cursor, .food-dark-red;

  display: inline-block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  margin-top: 20px;
  margin-left: 10px;
  color: #E66273;
  &:hover {
    @extend .food-dark-red;
  }
}

.cook-flat-bg {
  width:100%;
  background: url('/') no-repeat center center;
  background-size: cover;
}

.cook-now {
  float: right;
  width: 300px;


  .title {
    @extend .font-18, .margin-left-15, .margin-right-15, .margin-top-10, .margin-bottom-10;
    font-family: "Roboto-Medium";
  }

  .describe {
    @extend .font-16, .margin-left-15, .margin-right-15, .margin-bottom-10;
    height: 110px;
    color:#777;
  }

  .cook-now-button {
    @extend .cursor;
    font-family: "Roboto-Bold";
    color: white;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #BE1E2D;
  }
}

.moment-recipe {
  background-color: #EBEBEB;
}

.moment {
  .top-moment {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
