.main-outer-wrapper.goodrecipes
  .main-inner-wrapper
    .stand-alone
      %div.text-center
        %img{src: '/images/logo.png', style: 'width:50px;height:50px;'}
      %div.text-center
        %span.font-36.margin-top-10
          %span.roboto.light.silver GOOD
          %span.roboto.bold.food-dark-red{style: "margin-left:-5px"} RECIPES
      %form.margin-top-30{:role => "form"}
        %div{"ng-include" => "template"}
