.form-group{"ng-show" => "error != ''"}
	.alert.alert-danger{role: 'alert'}
		%span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
		{{error}}
.form-group
	%md-input-container
		%label{style: 'color:#555'} New password
		%input{"ng-model" => "data.password", type: "password"}
.form-group
	%md-input-container
		%label{style: 'color:#555'} Confirm password
		%input{"ng-model" => "data.passwordConfirmed", type: "password"}
%div.text-right.margin-top-10
	%div.fleft
		%md-button.padding-left-15.padding-right-15{"ng-click" => "locate('/')", style: 'color:#4285F4'}
			%i.fa.fa-arrow-left.margin-right-5
			CANCEL
	%md-button{"ng-click" => "resetPassword()", style: 'background-color:#ED747E;color:white;padding-left:15px;padding-right:15px'} RESET PASSWORD
