%md-dialog{"aria-label" => "Create Ingredient", "flex-sm"=> '80', "flex-md" => "50", "flex-gt-lg"=> '30'}
  %section.demo-container.md-whiteframe-z1{layout: "column"}
    %div.margin-top-20.margin-left-20.font-18.margin-bottom-10
      Create an ingredient
    %div.margin-left-10.margin-right-10
      %div{layout: "row"}
        %div
          %md-content.ingredient-windows-120.text-center{style: 'background-color: #EBEBEB;'}
            %span.glyphicon.glyphicon-picture.font-36{style: 'color:#999;line-height:115px;'}
        %div.margin-left-10.margin-top-10
          %div.font-12
            You need to choose a validate name for an ingredient, name contain at least 2 characters.
            Name must be unique. You must be choose and upload a picture
          %md-text-float{:label => "Name", "ng-model" => "ingredient.name"}
    %div.text-right.margin-right-20.margin-bottom-15
      %md-button.md-primary{style: 'padding: 5px 15px'} Annuler
      %md-button.md-primary.margin-left-10{style: 'padding: 5px 15px', "ng-click" => "create_ingredient()"} Valider

    / / %md-toolbar.demo-toolbar.md-default-theme{style: 'background-color: #eee;color:#666'}
    /   .md-toolbar-tools.active-cd{"ng-class" => "{'ingredient-pink-cd': ingredient.color == 'pink', 'ingredient-silver-cd': ingredient.color == 'silver'}"}
    /     %span{flex: 100, style: 'position:absolute;margin-top:20px'}
    /     %span{:flex => "100"}
    /       %div{layout: "row", "layout-align" => "center", style: 'margin-top:-60px;'}
    /         %button.md-fab.md-button.md-default-theme.md-fab-top-right{"aria-label" => "refresh", style: 'background-color:#ddd'}
    /           %span{"ng-if" => "ingredient.icon"}
    /             %img.avatar-ingredient{src: "{{ingredient.icon}}"}
    /           %span{"ng-if" => "!ingredient.icon"}
    /             %span.glyphicon.glyphicon-camera.font-18
    / %div.demo-content
    /   %md-content{layout: "column"}
    /     %div{layout: "row"}
    /       %div{flex: '50'}
    /         %md-text-float{:label => "Name", "ng-model" => "ingredient.name"}
    /       %div{flex: '50'}
    /         %md-text-float{:label => "Color", "ng-model" => "ingredient.color"}
    /     %div{layout: "row", flex: "100", style: 'border-top:1px solid #eee;padding-top:10px;padding-bottom:10px'}
    /       %div.margin-left-10{style: 'padding-right:10px;border-right:1px solid #eee'}
    /         %div.margin-left-5.margin-bottom-5{style: 'color:#555'}
    /           Advanced element
    /         %input.input-sm.form-control.ligth-design{"ng-model" => "element", placeholder: "Enter element..."}
    /         %div.margin-top-5.text-center
    /           %md-button.margin-right-5{style: 'width: 36px','ng-click' => 'addLabel(element) && (element = "")', "aria-label" => "refresh"}
    /             %span.glyphicon.glyphicon-tag.color-label
    /           %md-button.margin-right-5{style: 'width: 36px','ng-click' => 'addBlacklist(element) && (element = "")', "aria-label" => "refresh"}
    /             %span.glyphicon.glyphicon-ban-circle.color-ban
    /       %div.margin-left-15
    /         %span{"ng-repeat" => "ig in ingredient.labels"}
    /           %span.label.label-default.color-label-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delLabel(ig)"} {{ig}}
    /         %span{"ng-repeat" => "ig in ingredient.savours"}
    /           %span.label.label-default.color-savour-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delSavour(ig)"} {{ig}}
    /         %span{"ng-repeat" => "ig in ingredient.blacklist"}
    /           %span.label.label-default.color-ban-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delBlacklist(ig)"} {{ig}}
    /     %button.md-fab.md-button.md-default-theme.md-fab-bottom-right{"aria-label" => "refresh", style: 'width:48px;height:48px;',        "ng-class" => "{'ingredient-pink-cd': ingredient.color == 'pink', 'ingredient-silver-cd': ingredient.color == 'silver'}", "ng-click" => "create_ingredient()"}
    /       %span.glyphicon.glyphicon-ok
    /       / %img.avatar-ingredient{src: "{{ingredient.icon}}"}
