%md-toolbar.md-default-theme{layout: "column"}
  .md-toolbar-tools{tabindex: "0", flex: "100", layout: "column", "ng-controller" => "userCtrl"}
    %div{layout: "column", flex: ""}
      %div{layout: "row", "layout-align" => "space-between start"}
        %div{style: 'margin-top:50px;'}
          NourritureApp
        %div{flex: "50", style: 'margin-top:42px;background-color:red'}
          %md-tabs.md-accent{"md-selected" => "data.selectedIndex"}
            %md-tab{id: "tab1", "ng-click" => "locate('moment')", "aria-controls" => "tab1-content"}
              %b Moments
            %md-tab{id: "tab2", "ng-click" => "locate('recipe')", "aria-controls" => "tab2-content"}
              %b Recipes
            %md-tab{id: "tab2", "ng-click" => "locate('ingredient')", "aria-controls" => "tab2-content"}
              %b Ingredients
        %div
          %a{href: '#/users/{{id}}'}
            %button.md-fab.md-accent.md-button.md-default-theme{"aria-label" => "refresh", style:"margin-top:60px"}
              %img.avatar{src: "{{avatar}}"}
%md-content.md-padding.md-default-theme{:flex => "", "md-scroll-y" => "", "ng-include" => "template"}