%span{"ng-controller" => "userCtrl", layout: "column", style: 'height:100%'}
  %section{layout: "row", flex: "", style: 'height:100%'}
    %md-sidenav.md-sidenav-left.md-whiteframe-z2{"md-component-id" => "left",  "md-is-locked-open" => "$mdMedia('gt-md')"}
      %md-toolbar.food-api-theme.no-bg.md-theme-indigo{"layout-align" => "center center"}
        %div.text-center.margin-top-20
          %img{src: '/images/logo.png', style: 'width:50px;height:50px;'}
        %span.font-36.cursor.margin-top-10{"ng-click" => "locate('/')"}
          %span.roboto.light.silver GOOD
          %span.roboto.bold.food-dark-red{style: "margin-left:-5px"} RECIPES
      %md-content
        %div.margin-top-15.top-border{layout: "column",style: 'padding-top:15px'}
          %md-button{style: 'text-align:left;text-transform: uppercase;', "ng-click" => "locate('/')", "ng-class" => "{focused: currentPath == '/'}"}
            %span.margin-right-5.margin-left-5{style: 'width:24px;display:inline-block'}
              %i.fa.fa-home.fa-lg
            Home
          %md-button{style: 'text-align:left;text-transform: uppercase;', "ng-click" => "locate('/recipes/search')", "ng-class" => "{focused: currentPath == '/recipes/search' || currentPath == '/recipes/show'}"}
            %span.margin-right-5.margin-left-5
              %img{src: '/images/chef.png', style: 'width:24px;height:24px'}
            recipes
          %md-button{style: 'text-align:left;text-transform: capitalize;color:#444', "ng-click" => "locate('/recipes/create')", "ng-class" => "{focused: currentPath == '/recipes/create'}"}
            %i.fa.fa-pencil.margin-left-30.margin-right-15
            Write new
          %md-button{"ng-click" => "locate('/recipes/users/' + user.id)", style: 'text-align:left;text-transform: capitalize;', "ng-class" => "{focused: currentPath == '/recipes/users'}"}
            %i.fa.fa-eye.margin-left-30.margin-right-15
            See My
        %div.margin-top-15.top-border{layout: "column",style: 'padding-top:15px'}
          %md-button{style: 'text-align:left;', "ng-click" => "locate('ingredients')", "ng-class" => "{focused: currentPath == '/ingredients'}"}
            %span.margin-right-5.margin-left-5
              %img{src: '/images/ingredient.png', style: 'width:24px;height:24px'}
            ingredients
          %md-button{style: 'text-align:left;', "ng-click" => "locate('favorites')", "ng-class" => "{focused: currentPath == '/favorites'}"}
            %span.margin-right-5.margin-left-5{style: 'width:24px;display:inline-block'}
              %i.fa.fa-star.fa-lg
            favorites
        -# %div.margin-top-30.top-border{layout: "column",style: 'padding-top:15px'}
        -#   %md-button{style: 'text-align:left;text-transform: capitalize;', "ng-click" => "redir_your_profile()"}
        -#     %span.glyphicon.glyphicon-pencil.margin-right-10.margin-left-10{style: 'color:#666'}
        -#     Edit profile informations
        -#   / %a.menu-link{href: ''}
        -#   %md-button{style: 'text-align:left;text-transform: capitalize;'}
        -#     %span.glyphicon.glyphicon-user.margin-right-10.margin-left-10{style: 'color:#666'}
        -#     Search user
    %md-content{"flex"=> "", "layout-padding" => "", style: 'padding:0;height:100%;'}
      %md-content{style: 'border-top:10px solid #BE1E2D;border-bottom:1px solid #eee;height:71px;width:100%;'}
        %div.padding-left-10.padding-right-10{"hide-gt-md"=>"", style: ";width:75px;border-right:1px solid #eee;position:absolute;height:60px", layout: "row", "layout-align" => "start center"}
          %div
            %a.cursor{style: 'padding:20px;color:#333;', "ng-click"=>"toggleLeft()"}
              %i.fa.fa-bars.fa-lg
        %div.searchBar{style: '', layout: "row", "layout-align" => "start center"}
          %div.padding-left-10.padding-right-10.cursor{style: 'height:40px', "ng-click" => "searchRecipe()"}
            %i.fa.cursor.fa-search.fa-lg
          %input.padding-left-20.font-16{type: 'text', placeholder: 'What do you want to cook today ?', style: 'height:40px;width:100%;border:0;', 'ng-model' => 'recipeSearch.description'}
        %div.cursor{"hide-sm"=>"","layout-align" => "space-between center", "ng-click" => "locate('/users/edit/' + user.id)", style: "position:absolute;right:10px;width:200px;height:60px;border-left:1px solid #eee",layout: "row", "layout-align" => "end center"}
          %div.roboto.text-right{layout: "row", "layout-align" => "end center"}
            %div.padding-right-20
              %div.font-14
                {{user.pseudo || "Manawasp"}}
              %div.font-11.roboto{style: 'color:#999'}
                {{user.email || "manawasp@gmail.com"}}
          %div
            %a
              %button{style: 'width:36px;height:36px;padding:0;border-radius:18px'}
                %img.profile-avatar{src: "{{avatar}}", style: 'width:36px;height:36px;padding:0;margin-left:-2px;margin-top:-2px;border-radius:18px'}
      %md-content.no-bg.md-default-theme{layout: "column", "md-scroll-y" => "", "layout-align" => "center center"}
        %md-content.no-bg{"ng-include" => "template", style: 'width:100%;padding:20px 20px 10px 20px'}
