%md-toolbar.md-default-theme{layout: "column"}
  .md-toolbar-tools{tabindex: "0", flex: "100", layout: "column", "ng-controller" => "userCtrl"}
    %div{layout: "column", flex: ""}
      %div{layout: "row", "layout-align" => "space-between start"}
        %div{style: 'margin-top:50px;'}
          NourritureApp
        %div{flex: "50", style: 'margin-top:45px;background-color:red'}
          %md-tabs.md-accent{"md-selected" => "data.selectedIndex"}
            %md-tab{id: "tab1", "ng-click" => "locate('moment')", "aria-controls" => "tab1-content"}
              %b Moments
            %md-tab{id: "tab2", "ng-click" => "locate('recipe')", "aria-controls" => "tab2-content"}
              %b Recipes
            %md-tab{id: "tab2", "ng-click" => "locate('ingredient')", "aria-controls" => "tab2-content"}
              %b Ingredients
          / %a
          /   %md-button
          /     %b Moments
          / %a{href: "\#recipe/create"}
          /   %md-button
          /     %b Recipes
        %div
          %a{href: '\#users/{{id}}'}
            %button.md-fab.md-accent.md-button.md-default-theme{"aria-label" => "refresh", "ng-transclude" => "", style:"margin-top:60px"}
              %img.avatar{src: "{{avatar}}"}
          /     .md-ripple-container{:style => ""}
/ #header
/   .container.row
/     .col-xs-12
/       #menucontainer.row
/         .col-xs-3.col-md-3
/           %span.header-title
/             %a{"ng-href" => "\#/"} Foodapi
/         .col-xs-9.col-md-9
/           %span.header-search{style: 'text-align:left'}
/             %form.form-inline{role: "form"}
/               %input#search.form-control{placeholder: 'Search users, recipes...'}
#main
  .container.row
    .col-xs-12
      #maincontainer.row
        #menu.col-sm-3.col-md-3.hidden-xs.hidden-sm{"ng-controller" => "userCtrl"}
          %a{href: '\#users/{{id}}'}
            %img.avatar{src: "{{avatar}}"}
          %div
            %div.user-name {{user.pseudo}}
            %div.deconnexion
              %a{href: "", "ng-click" => "logout()"} log out
          %div#menu-action
            %ul.list-unstyled
              %a{href: "\#moment"}
                %li.title
                  %span.glyphicon.glyphicon-film
                  Moments
              %a{href: "\#moment/create"}
                %li
                  %span.glyphicon.glyphicon-plus
                  moment
            %ul.list-unstyled{style: 'margin-top:20px'}
              %a{href: "\#recipe"}
                %li.title
                  %span.glyphicon.glyphicon-cutlery
                  Recipes
              %a{href: "\#recipe/create"}
                %li{"ng-show" => "access_gastronomist == true"}
                  %span.glyphicon.glyphicon-plus
                  recipe
            %ul.list-unstyled{"ng-show" => "access_supplier == true", style: 'margin-top:20px'}
              %a{href: "\#ingredient"}
                %li.title
                  %span.glyphicon.glyphicon-leaf
                  Ingredients
              %a{href: "#ingredient/create"}
                %li
                  %span.glyphicon.glyphicon-plus
                  ingredient
            %ul.list-unstyled{"ng-show" => "access_admin == true", style: 'margin-top:20px'}
              %li.title
                %span.glyphicon.glyphicon-cog
                Admin
              %a{href: "\#user/search"}
                %li.title
                  %span.glyphicon.glyphicon-user
                  Users
        #content.col-xs-12.col-md-9{"ng-include" => "template"}
          / = yield