%md-dialog{"aria-label" => "Edit Ingredient", "flex-sm"=> '80', "flex-md" => "50", "flex-gt-lg"=> '30'}
  %section.demo-container.md-whiteframe-z1{layout: "column"}
    %div.margin-top-20.margin-left-20.font-18.margin-bottom-10
      %i.fa.fa-pencil.margin-right-10{style: 'position:abolute'}
      %input{"ng-model" => "ingredient.name", style: 'border:0;'}
    %div.margin-left-10.margin-right-10{style: 'min-height:125px'}
      %md-content.fileUpload.ingredient-windows-120.text-center.md-whiteframe-z1.fleft{style: 'background-image: url("{{show_picture()}}");'}
        %input.upload{type: "file", "ng-model" => 'ingredientPicture', "base-sixty-four-input" => "", style: 'height: 120px'}
      %div.margin-top-15{style: "margin-left:150px"}
        %div.font-12
          You need to choose a validate name for an ingredient,
          %span{'ng-class' => "{'food-error' : error == 'toosmall'}"}
            name contain at least 2 characters.
          %span{'ng-class' => "{'food-error' : error == 'exist'}"}
            Name must be unique.
          %span{'ng-class' => "{'food-error' : error == 'image'}"}
            You must be choose and upload a picture
    %div.text-right.margin-right-20.margin-bottom-15.margin-top-15.margin-left-20
      %div{layout: "row", "layout-align" => "space-between center"}
        %div
          %md-button.md-warn
            %i.fa.fa-close.margin-right-5{"ng-click" => "cancel()"}
            REMOVE
        %div
          %md-button.md-nothing{"ng-click" => "cancel()", style: 'color:#777'}
            %i.fa.fa-undo.margin-right-5
            CANCEL
          %md-button.md-primary.margin-left-10{"ng-click" => "update_ingredient()"}
            %i.fa.fa-check.margin-right-5
            VALIDATE
