%div.print-title.margin-left-20.font-24.roboto.light.margin-top-15.margin-bottom-20
  WEEK'S RECIPE
%md-content.md-whiteframe-z1.margin-bottom-20{layout: "column", "layout-align" => "start start"}
  %md-content.cook-flat-bg{style: 'padding:20px 20px;width:100%;background-image: url("{{week_recipe.image}}")'}
    %div.md-whiteframe-z1.cook-now{layout: 'column', style: 'background-color:white'}
      %div.title
        %i.fa.fa-quote-left{style: 'color:#ccc'}
        {{week_recipe.title}}
        %i.fa.fa-quote-right{style: 'color:#ccc'}
      %div.describe
        {{week_recipe.description}}
      %div.margin-top-30.print-title.margin-top-15.margin-bottom-20.text-center{style: "width:100%"}
        %i.fa.fa-group.margin-right-5.fa-lg
        %span.font-16{style: 'color:#333'} {{week_recipe.people}}
        %i.fa.fa-history.margin-left-15.margin-right-5.fa-lg
        %span.font-16{style: 'color:#333'} {{week_recipe.time}}
        %i.fa.fa-comments-o.margin-left-15.margin-right-5.fa-lg
        %span.font-16{style: 'color:#333'} {{week_recipe.comments_length}}
        %span.margin-left-30
        %span.mark.xsmall.margin-right-5{"ng-repeat" => "i in [0, 1, 2, 3, 4] track by $index", "ng-class" => "{'valid': mark[$index] <= week_recipe.mark}"}
        %span.font-16{style: 'color:#333'} {{week_recipe.mark}}
      %div.cook-now-button{{"ng-click" => "redir_recipe(week_recipe.id)"}}
        COOK NOW !
%div.print-title.margin-left-20.font-24.roboto.light.margin-top-40.margin-bottom-10
  MONTH'S RECIPE
%div.margin-bottom-20{layout: 'row', "layout-wrap" => "", "layout-margin" => '', 'layout-padding' => '', "layout-align" => "space-between center"}
  %div{"ng-repeat" => 'morerecipe in month_recipe track by $index', "flex-sm"=> "100", "flex-md"=> "100", "flex-lg"=> "50", "flex-gt-lg" => "25", style: 'margin-left:auto;margin-right:auto;'}
    %md-content.md-whiteframe-z1.cursor{layout: "column", "ng-click" => "redir_recipe(morerecipe.id)"}
      %div.flat-image-100p.text-center{style: 'background-image: url("{{morerecipe.image}}")'}
      %div.padding-top-5.padding-bottom-5.padding-right-10.padding-left-10.font-18.text-center
        %table{style: 'width:95%;height:65px;padding-left:2.5%'}
          %th
            %td
              %i.fa.fa-quote-left{style: 'color:#ccc'}
              %span.margin-left-5.margin-right-5 {{morerecipe.title}}
              %i.fa.fa-quote-right{style: 'color:#ccc'}
      %div.padding-bottom-10.text-center{style: 'color:#777'}
        %i.fa.fa-group.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.people}}
        %i.fa.fa-history.margin-left-15.margin-right-5
        %span.font-16
          {{morerecipe.hours.toString() + "h" + morerecipe.minutes.toString()}}
        %i.fa.fa-comments-o.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.comments_length}}
        %i.fa.fa-thumbs-o-up.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.mark}}/5
%div{layout: 'row'}
  %div{"flex-gt-sm" => '50', "flex-sm" => "100"}
    %div.print-title.margin-left-20.font-24.roboto.light.margin-top-20.margin-bottom-20
      LATEST RECIPE
    %div.margin-bottom-20{layout: 'row', "layout-wrap" => "", "layout-margin" => '', 'layout-padding' => '', "layout-align" => "space-between center"}
      %div{"ng-repeat" => 'morerecipe in latest_recipe track by $index', "flex-sm"=> "100", "flex-md"=> "100", "flex-lg"=> "100", "flex-gt-lg" => "50", style: 'margin-left:auto;margin-right:auto;'}
        %md-content.md-whiteframe-z1.cursor{layout: "column", "ng-click" => "redir_recipe(morerecipe.id)"}
          %div.flat-image-100p.text-center{style: 'background-image: url("{{morerecipe.image}}")'}
          %div.padding-top-5.padding-bottom-5.padding-right-10.padding-left-10.font-18.text-center
            %table{style: 'width:95%;height:65px;padding-left:2.5%'}
              %th
                %td
                  %i.fa.fa-quote-left{style: 'color:#ccc'}
                  %span.margin-left-5.margin-right-5 {{morerecipe.title}}
                  %i.fa.fa-quote-right{style: 'color:#ccc'}
          %div.padding-bottom-10.text-center{style: 'color:#777'}
            %i.fa.fa-group.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.people}}
            %i.fa.fa-history.margin-left-15.margin-right-5
            %span.font-16
              {{morerecipe.hours.toString() + "h" + morerecipe.minutes.toString()}}
            %i.fa.fa-comments-o.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.comments_length}}
            %i.fa.fa-thumbs-o-up.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.mark}}/5
  %div{"flex-gt-sm" => '50', "flex-sm" => "100"}
    %div.print-title.margin-left-20.font-24.roboto.light.margin-top-20.margin-bottom-20
      RANDOM RECIPE
    %div.margin-bottom-20{layout: 'row', "layout-wrap" => "", "layout-margin" => '', 'layout-padding' => '', "layout-align" => "space-between center"}
      %div{"ng-repeat" => 'morerecipe in random_recipe track by $index', "flex-sm"=> "100", "flex-md"=> "100", "flex-lg"=> "100", "flex-gt-lg" => "50", style: 'margin-left:auto;margin-right:auto;'}
        %md-content.md-whiteframe-z1.cursor{layout: "column", "ng-click" => "redir_recipe(morerecipe.id)"}
          %div.flat-image-100p.text-center{style: 'background-image: url("{{morerecipe.image}}")'}
          %div.padding-top-5.padding-bottom-5.padding-right-10.padding-left-10.font-18.text-center
            %table{style: 'width:95%;height:65px;padding-left:2.5%'}
              %th
                %td
                  %i.fa.fa-quote-left{style: 'color:#ccc'}
                  %span.margin-left-5.margin-right-5 {{morerecipe.title}}
                  %i.fa.fa-quote-right{style: 'color:#ccc'}
          %div.padding-bottom-10.text-center{style: 'color:#777'}
            %i.fa.fa-group.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.people}}
            %i.fa.fa-history.margin-left-15.margin-right-5
            %span.font-16
              {{morerecipe.hours.toString() + "h" + morerecipe.minutes.toString()}}
            %i.fa.fa-comments-o.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.comments_length}}
            %i.fa.fa-thumbs-o-up.margin-left-15.margin-right-5
            %span.font-16 {{morerecipe.mark}}/5
