%div.searchbar{"layout-fill" => "", layout: "column"}
  %section.demo-container.md-whiteframe-z1
    %form
      %div{layout: "row"}
        %div
          %md-button.md-default.margin-right-10.margin-left-10{style:'width:36px;background-color:#eee;color:#666;', 'ng-click' => 'showCreateIngredient()', 'aria-label' => 'refresh'}
            %span.glyphicon.glyphicon-pencil
          %label.white.font-18.margin-top-10.margin-right-10{style: 'margin-top:12px;color:#999;border-left:1px solid #eee;padding-left:15px'}
            search
        %div{layout: "row", flex: "", "layout-align" => "space-between center"}
          %div
            .form-group{style: 'width: 90%;margin-left:5%;margin-top:10px;margin-bottom:10px;'}
              %input.input-sm.form-control.ligth-design{"ng-model" => "ingredient.description", placeholder: "Enter title", style: 'width: 100%'}
          %div
            %md-button.md-primary.md-raised.margin-right-5{style:'width:36px;', 'ng-click' => 'search()', 'aria-label' => 'refresh'}
              %span.glyphicon.glyphicon-search
            %md-button.md-primary.margin-right-10{style:'width:36px;', 'ng-click' => 'advancedSearch()', 'aria-label' => 'refresh'}
              %span.glyphicon.glyphicon-cog
      %div{layout: "row", flex: "100",'ng-show' => 'data.showAdvancedSearch', style: 'border-top:1px solid #eee;padding-top:10px;padding-bottom:10px'}
        %div.margin-left-10{style: 'padding-right:10px;border-right:1px solid #eee'}
          %div.margin-left-5.margin-bottom-5{style: 'color:#555'}
            Advanced element
          %input.input-sm.form-control.ligth-design{"ng-model" => "element", placeholder: "Enter element..."}
          %div.margin-top-5.text-center
            %md-button.margin-right-5{style: 'width: 36px','ng-click' => 'addLabel(element) && (element = "")', "aria-label" => "refresh"}
              %span.glyphicon.glyphicon-tag.color-label
            %md-button.margin-right-5{style: 'width: 36px','ng-click' => 'addSavour(element) && (element = "")', "aria-label" => "refresh"}
              %span.glyphicon.glyphicon-heart-empty.color-savour
            %md-button.margin-right-5{style: 'width: 36px','ng-click' => 'addBlacklist(element) && (element = "")', "aria-label" => "refresh"}
              %span.glyphicon.glyphicon-ban-circle.color-ban
        %div.margin-left-15
          %span{"ng-repeat" => "ig in ingredient.labels"}
            %span.label.label-default.color-label-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delLabel(ig)"} {{ig}}
          %span{"ng-repeat" => "ig in ingredient.savours"}
            %span.label.label-default.color-savour-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delSavour(ig)"} {{ig}}
          %span{"ng-repeat" => "ig in ingredient.blacklist"}
            %span.label.label-default.color-ban-bg.font-12.cursor{style: 'padding-top:4px', "ng-click" => "delBlacklist(ig)"} {{ig}}
%div{layout: "row"}
  %span{"ng-repeat" => "ig in data.ingredients", style: 'padding:0;'}
    %md-card.ingredient-card{style: "padding:0;", "ng-class" => "{'ingredient-pink-cd': ig.color == 'pink', 'ingredient-silver-cd': ig.color == 'silver'}", "ng-click" => "showEditingIngredient(ig)"}
      %div.ingredient-img
        %img{"src" => "{{ig.icon}}", alt: "...", style: 'width:100%;max-height:100px;'}
      .caption.md-ingredient
        {{ig.name}}
