%md-dialog{"aria-label" => "Create Ingredient", "flex-sm"=> '80', "flex-md" => "50", "flex-gt-lg"=> '30'}
  %section.demo-container.md-whiteframe-z1{layout: "column"}
    %div.margin-top-20.margin-left-20.font-18.margin-bottom-10
      Rating recipe
    %div.margin-left-10.margin-right-10
      %h3.text-center {{mark}} / 5
      %md-slider{"md-discrete" => '', 'ng-model' => "mark", 'step' => "1", 'min' => "0", 'max' => "5", 'aria-label' => "rating"}
    %div.text-right.margin-right-20.margin-bottom-15.margin-top-15.margin-left-20
      %md-button.md-primary{style: 'padding: 5px 15px', "ng-click" => 'cancel()'} Annuler
      %md-button.md-primary.margin-left-10{style: 'padding: 5px 15px', "ng-click" => "validate()"} Valider