%div
  %div.print-title.font-24.roboto.light.margin-top-15.margin-bottom-30.uppercase.text-center{style: "width:100%;color:#333;"}
    %i.fa.fa-quote-left
    %span.roboto.bold{style: "font-family: Helvetica"} {{recipe.title}}
    %i.fa.fa-quote-right
  %div.margin-top-30.print-title.margin-top-15.margin-bottom-20.text-center{style: "width:100%"}
    %i.fa.fa-group.margin-right-5.fa-lg
    %span.font-16{style: 'color:#333'} {{recipe.people}}
    %i.fa.fa-history.margin-left-15.margin-right-5.fa-lg
    %span.font-16{style: 'color:#333'} {{recipe.time}}
    %i.fa.fa-comments-o.margin-left-15.margin-right-5.fa-lg
    %span.font-16{style: 'color:#333'} {{recipe.comments_length}}
    %span.margin-left-30
      %span.mark.xsmall.margin-right-5{"ng-repeat" => "i in [0, 1, 2, 3, 4] track by $index", "ng-class" => "{'valid': mark[$index] <= recipe.mark}"}
    %span.font-16{style: 'color:#333'} {{recipe.mark}}
%md-content{style: 'max-width:1140px;padding:30px 10px 10px 10px;margin-left:auto;margin-right:auto', layout: 'column'}
  %div
    %md-content.md-whiteframe-z1.ingredient-windows-90p{style: "background-image: url('{{recipe.image}}');width:100%;margin:0;"}
    %div.text-right
      %a.cursor{style: 'display:inline-block;padding:10px', "ng-click" => "editRecipe(recipe.id)"}
        %i.fa.fa-pencil
        Edit
      %a.cursor{style: 'display:inline-block;padding:10px',  "ng-click"=>"removeConfirm($event)"}
        %i.fa.fa-trash
        Remove
  %div.margin-top-30
    %div{layout: "row", "layout-wrap" => ""}
      %div{flex: '100'}
        %div.margin-top-5{style: "padding:0 15px"}
          %div.food-dark-red.font-18.roboto.bold.uppercase Description
          %div.margin-10
            {{recipe.description}}
  %div.chipsdemoContactChips.lock{"ng-app" => "MyApp", "ng-controller"=>"ContactChipDemoCtrl as ctrl", layout: "column"}
    %md-content.md-padding.autocomplete{:layout => "column"}
      %p.font-18.roboto.bold.food-dark-red.uppercase Ingredients
      %md-contact-chips{"filter-selected" => "ctrl.filterSelected", "md-contact-email" => "email", "md-contact-image" => "icon", "md-contact-name" => "name", "md-contacts" => "ctrl.querySearch($query)", "md-require-match" => "", "ng-model" => "ctrl.contacts", :placeholder => "Insert ingredient"}
  %div
    // Parts ingredient
    %div{layout: "row", "layout-wrap" => ""}
      %div{flex: '50'}
        %div.margin-top-5{style: "padding:0 15px"}
          %span.margin-bottom-30.font-18.roboto.bold.food-dark-red.uppercase Quantity
          %textarea.margin-top-20.msd-elastic.step-description.margin-bottom-5{"ng-model" => "recipe.parts", placeholder: "List of quantity and ingredients", disabled: 'true', style: 'background-color:transparent'}
  %div.step.padding-bottom-5{"ng-repeat" => "step in recipe.steps track by $index"}
    %div.step-header{layout: 'row', "layout-align" => "start center"}
      %div.font-18.roboto.bold.food-dark-red.uppercase
        STEP {{$index + 1}}
    %textarea.msd-elastic.step-description.margin-top-15.margin-bottom-5{"ng-model" => "step", placeholder: "Please enter your step description", disabled: 'true', style: 'background-color:transparent'}
  %div.text-right.padding-top-30.padding-bottom-5.top-border
    %div{layout: "row", "layout-align" => "space-between center"}
      %div.margin-left-10
        %md-button.padding-left-15.padding-right-15{"ng-class" => "{'favorite-false': !recipe.liked, 'favorite-true': recipe.liked}", "ng-click" => "makeFavorite(recipe.liked)"}
          %i.fa.fa-star.fa-lg.margin-right-5
          Favorites
      %div
        %md-button.margin-left-10.padding-left-15.padding-right-15{"ng-click" => "create_ingredient()", style: 'color:#777'}
          %i.fa.fa-comment.fa-lg.margin-right-5
          REVIEW

%div.print-title.margin-left-20.font-24.roboto.light.margin-top-30.margin-bottom-20{style: 'max-width:1140px;margin-left:auto;margin-right:auto'}
  Want to try more ?
%div.margin-bottom-20{layout: 'row', "layout-wrap" => "", "layout-margin" => '', 'layout-padding' => '', style: 'text-align:justify;max-width:1140px;margin-left:auto;margin-right:auto'}
  %div{"ng-repeat" => 'morerecipe in more_recipe track by $index', "flex-sm"=> "100", "flex-md"=> "50", "flex-lg"=> "50", "flex-gt-lg" => "30", style: 'margin-left:auto;margin-right:auto;'}
    %md-content.md-whiteframe-z1.cursor{layout: "column", "ng-click" => "redir_recipe(morerecipe.id)", "ng-show" => "$index < 3"}
      %div.flat-image-100p.text-center{style: 'background-image: url("{{morerecipe.image}}")'}
      %div.padding-top-5.padding-bottom-5.padding-right-10.padding-left-10.font-18.text-center
        %table{style: 'width:95%;height:65px;padding-left:2.5%'}
          %th
            %td
              %i.fa.fa-quote-left{style: 'color:#ccc'}
              %span.margin-left-5.margin-right-5 {{morerecipe.title}}
              %i.fa.fa-quote-right{style: 'color:#ccc'}
      %div.padding-bottom-10.text-center{style: 'color:#777'}
        %i.fa.fa-group.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.people}}
        %i.fa.fa-history.margin-left-15.margin-right-5
        %span.font-16
          {{morerecipe.hours.toString() + "h" + morerecipe.minutes.toString()}}
        %i.fa.fa-comments-o.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.comments_length}}
        %i.fa.fa-thumbs-o-up.margin-left-15.margin-right-5
        %span.font-16 {{morerecipe.mark}}/5
