%div
  %div.print-title.margin-left-20.font-24.roboto.light.margin-top-15.margin-bottom-30.uppercase{style: "width:100%"}
    {{type}} RECIPE
  %div.margin-top-30.print-title.margin-left-20.font-24.roboto.light.margin-top-15.margin-bottom-20{style: "width:100%", layout: "row", "layout-align" => "space-between center"}
    %div{flex: 60}
      %i.fa.fa-newspaper-o{style: "float:left;padding-top:7px;color:#333;"}
      %input{style:"margin-left:10px;border:0;color:#333;width:90%","ng-model" => "recipe.title", placeholder: 'Enter recipe name...'}
    %div.text-right.padding-right-20{flex: 40}
      %i.fa.fa-group
      %input{style:"width:38px;border:0;color:#555;font-weight:700;","ng-model" => "recipe.people", maxlength: "2"}
      %i.fa.fa-history
      %input{style:"width:100px;border:0;color:#555;font-weight:700;","ng-model" => "recipe.time", maxlength: "5"}
%md-content{style: 'width:100%;padding:30px 20px 10px 20px;', layout: 'column'}
  %div{layout: "row"}
    %div{flex: '50', layout: 'column'}
      %div.margin-right-20
        %div.food-dark-red.font-18.roboto.bold.uppercase Description
        %md-input-container{flex: ''}
          %textarea{"ng-model" => "recipe.description", columns: "1", "md-maxlength" => "500", style: "min-height:330px"}
    %div{flex: '50'}
      %md-content.fileUpload.md-whiteframe-z1.ingredient-windows-90p.cursor.text-center{style: "background-image: url('{{recipe.image}}')"}
        %input.upload{type: "file", "ng-model" => 'recipe.recipePict', "base-sixty-four-input" => "", style: 'height: 400px;width:100%;'}
      -# %div.margin-top-15{style: "padding:0 15px"}
      -#   %div.font-16.roboto.medium.margin-bottom-10{style: 'color:#333'} Informations
      -#   %div.margin-left-5.margin-top-15
      -#     %span{style: 'display:inline-block;width:85px;color:#666'} Prep time
      -#     %span.recipe-time
      -#       %span.roboto.medium.bold.font-14{"ng-show" => "recipe.time_prep.h > 0"}
      -#         {{recipe.time_prep.h}} hours
      -#       %span.roboto.medium.bold.font-14{"ng-show" => "recipe.time_prep.m > 0"}
      -#         {{recipe.time_prep.m}} min
      -#   %div.margin-left-5.margin-top-10
      -#     %span{style: 'display:inline-block;width:85px;color:#666'} Total time
      -#     %span.recipe-time
      -#       %span.roboto.medium.bold.font-14{"ng-show" => "recipe.time_total.h > 0"}
      -#         {{recipe.time_total.h}} hours
      -#       %span.roboto.medium.bold.font-14{"ng-show" => "recipe.time_total.m > 0"}
      -#         {{recipe.time_total.m}} min
      -#   %div.margin-left-5.margin-top-10
      -#     %span{style: 'display:inline-block;width:85px;color:#666'} Ingredients
      -#     %span.roboto.medium.bold.font-14
      -#       {{recipe.ingredients_length}}
      -#   %div.margin-left-5.margin-top-10
      -#     %span{style: 'color:#999'}
      -#       %span.glyphicon.glyphicon-user
      -#     %span.roboto.medium.font-14.margin-left-5{style: 'color:#666;'}
      -#       {{recipe.people}}
      -#   %div.margin-top-20
      -#     %span.mark.xsmall.margin-right-5.margin-top-20{"ng-repeat" => "i in [0, 1, 2, 3, 4] track by $index", "ng-class" => "{'valid': mark[$index] <= recipe.mark}"}
      -#     %span.font-11{style: 'line-height:24px'}
      -#     %span.glyphicon.glyphicon-comment.margin-left-20{style: 'color:#999'}
      -#     %span.font-11.margin-left-5{style: 'line-height:24px'} {{recipe.comments_length}}
  -# %div
  -#   // Search ingredient
  -#   %div.margin-left-15.margin-top-20.margin-right-10
  -#     %p.font-18.roboto.bold.food-dark-red.uppercase Ingredients
  -#     %span{"ng-repeat" => "ig in ingredients"}
  -#       %md-content.md-whiteframe-z1.ingredient-windows-64.cursor.text-center{style: 'background-image: url("{{ig.icon}}");margin-left:2px;margin-right:18px'}
  -#         %span.glyphicon.glyphicon-picture.font-24{style: 'color:#999;line-height:63px;', 'ng-show' => 'ig.icon == ""'}
  %div.chipsdemoContactChips{"ng-app" => "MyApp", "ng-controller"=>"ContactChipDemoCtrl as ctrl", layout: "column"}
    %md-content.md-padding.autocomplete{:layout => "column"}
      %p.font-18.roboto.bold.food-dark-red.uppercase Ingredients
      %md-contact-chips{"filter-selected" => "ctrl.filterSelected", "md-contact-email" => "email", "md-contact-image" => "icon", "md-contact-name" => "name", "md-contacts" => "ctrl.querySearch($query)", "md-require-match" => "", "ng-model" => "ctrl.contacts", :placeholder => "Insert ingredient"}
  %div
    // Parts ingredient
    %div{layout: "row", "layout-wrap" => ""}
      %div{flex: '50'}
        %div.margin-top-5{style: "padding:0 15px"}
          %span.margin-bottom-30.font-18.roboto.bold.food-dark-red.uppercase Quantity
          %textarea.margin-top-20.msd-elastic.step-description.margin-bottom-5{"ng-model" => "recipe.parts", placeholder: "List of quantity and ingredients", disabled: 'true', style: 'background-color:transparent'}
  %div.step.padding-bottom-5{"ng-repeat" => "step in recipe.steps track by $index"}
    %div.step-header{layout: 'row', "layout-align" => "start center"}
      %div.font-18.roboto.bold.food-dark-red.uppercase
        STEP {{$index + 1}}
    %textarea.msd-elastic.step-description.margin-top-15.margin-bottom-5{"ng-model" => "step", placeholder: "Please enter your step description", disabled: 'true', style: 'background-color:transparent'}
  %div.text-right.padding-top-10.padding-bottom-5.top-border
    %div{layout: "row", "layout-align" => "space-between center"}
      %div.margin-left-10
        by {{author.pseudo}}
      %div
        %md-button.md-primary{style: 'padding: 5px 15px', "ng-click" => "markRecipe()"} MARK
        %md-button.md-primary.margin-left-10{style: 'padding: 5px 15px', "ng-click" => "create_ingredient()"} COMMENT

%div.print-title.margin-left-20.font-24.roboto.light.margin-top-30.margin-bottom-20
  Want to try more ?
%div.margin-bottom-20{layout: 'row', "layout-wrap" => "", "layout-margin" => '', 'layout-padding' => '', "layout-align" => "space-between center"}
  %div{flex: '21', "ng-repeat" => 'morerecipe in more_recipe'}
    %md-content.md-whiteframe-z1{layout: "column", flex: '100'}
      %div.flat-image-100p.cursor.text-center{style: 'background-image: url("{{morerecipe.image}}")'}
      %div.margin-left-10.margin-right-10.margin-top-10{style: 'height:60px'}
        %div.font-14.roboto.medium {{morerecipe.title}}
        %div.time.font-12
          %span{"ng-show" => 'morerecipe.time_total.h != 0'}
            {{morerecipe.time_total.h}} hour
          %span{"ng-show" => 'morerecipe.time_total.m != 0'}
            {{morerecipe.time_total.m}} min
      %div.margin-left-10.margin-right-10.margin-bottom-5
        %span.mark.xsmall.margin-right-5.margin-top-20{"ng-repeat" => "i in [0, 1, 2, 3, 4] track by $index", "ng-class" => "{'valid': mark[$index] <= morerecipe.mark}"}
        %span.glyphicon.glyphicon-comment.margin-left-20{style: 'color:#999'}
        %span.font-11.margin-left-5{style: 'line-height:24px'} {{morerecipe.comments_length}}
