.form-group{"ng-show" => "error != ''"}
  .alert.alert-danger{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    {{error}}
.form-group.margin-left-20
  %md-input-container
    %label "Pseudo"
    %input{"ng-model" => "pseudo"}
.form-group.margin-left-20
  %md-input-container
    %label Adresse email
    %input{"ng-model" => "email"}
.form-group.margin-left-20
  %md-input-container
    %label Password
    %input{"ng-model" => "password", type: "password"}
%div.text-right.margin-top-30
  %md-button.revert.fleft{href: '\#login'} Connection
  %md-button{"ng-click" => "send()"} Inscription
