.form-group{"ng-show" => "error != ''"}
  .alert.alert-danger{role: 'alert'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"} 
    {{error}}
.form-group.margin-left-20
  %md-text-float.md-primary{:label => "Pseudo", "ng-model" => "pseudo"}
.form-group.margin-left-20
  %md-text-float{:label => "Adresse email", "ng-model" => "email"}
.form-group.margin-left-20
  %md-text-float{:label => "Password", "ng-model" => "password", type: "password"}
%div.text-right.margin-top-30
  %md-button.revert.fleft{href: '\#login'} Connection
  %md-button{"ng-click" => "send()"} Inscription