.panel.panel-default
  .panel-body
    %img.user-avatar{src: 'images/minion.png'}
    %div.content-new
      .title Mon super titre de la mort qui tue
      %div
        %span.date 1 hours ago 
        by
        %span.author Clovky
      %div.describe
        Hello 2 "{{connected}}"