!!!
%html
  %head
    %title APP
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{"ng-app" => 'app.exampleApp'}
    #header
      .container.row
        .col-xs-12
          .row
            .col-xs-3.col-md-3
              %span.header-title Foodapi
            .col-xs-9.col-md-9
              %span.header-search{style: 'text-align:left'}
                %form.form-inline{role: "form"}
                  %input#search.form-control{placeholder: 'Search users, recipes...'}
    #main
      .container.row
        .col-xs-12
          .row
            #menu.col-sm-3.col-md-3.hidden-xs.hidden-sm
              %img.avatar{src: '/images/avatar.jpg'}
              %div
                %div.user-name Clovis Kyndt
                %div.deconnexion
                  %a{href: "#"} Deconnexion
              %div#menu-action
                %ul.list-unstyled
                  %li.title
                    %span.glyphicon.glyphicon-film
                    Moments
                  %li
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-plus
                      moment
                %ul.list-unstyled
                  %li.title
                    %span.glyphicon.glyphicon-cutlery
                    Recipes
                  %li
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-plus
                      recipes
                %ul.list-unstyled
                  %li.title
                    %span.glyphicon.glyphicon-leaf
                    Ingredients
                  %li
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-plus
                      ingredients
                %ul.list-unstyled
                  %li.title
                    %span.glyphicon.glyphicon-cog
                    Admin
                  %li
                    %a{href: "#"}
                      %span.glyphicon.glyphicon-user
                      Users
            #content.col-xs-12.col-md-9
              .panel.panel-default
                .panel-body
                  %img.user-avatar{src: 'images/minion.png'}
                  %div.content-new
                    .title Mon super titre de la mort qui tue
                    %div
                      %span.date 1 hours ago 
                      by
                      %span.author Clovky
                    %div.describe
                      Hello
              = yield